<!--The content below is only a placeholder and can be replaced.-->
<neo-app-loader></neo-app-loader>
<div class="container">
  <h1>
    Welcome to Ngx Neo Loader!
  </h1>
  <div class="row">
    <div class="col">
      <h4>Test it</h4>
      <div class="form-group">
        <p>Delay before show is configurable</p>
        <label for="msDelay">Delay</label>
        <input id="msDelay" type="number" class="form-control" [(ngModel)]="delayTime" placeholder="Delay in ms before show" />
      </div>
      <div class="form-group">
        <p>Delay before close</p>
        <label for="closeDelay">Close delay</label>
        <input id="closeDelay" type="number" class="form-control" [(ngModel)]="delayClose" placeholder="Delay before close" />
      </div>
      <button class="btn btn-primary" (click)="showLoader()">Show</button>
    </div>
  </div>
</div>